//- Перменные 
block vars
  - var siteTitle = 'Eclipse Frontend';
  - var lang = 'en';
  - var active = '0';

doctype html
//- Просто вставляем переменную
html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="../css/style.min.css")
    //- Иконка сайта
    link(rel="shortcut icon" href="../img/icons/favicon.jpg" type="image/jpg")
    //- Вставляем переменную через интерполяцию текста
    title #{siteTitle}
  body 
    //- block ключевое слово помогающее совместить две части кода в разных файлах
    block content 

    script(src="../js/bundle.js")
    script(src="https://kit.fontawesome.com/1660e9b256.js" crossorigin="anonymous")