nav.nav
  .nav__container
      .nav__row
          .nav__logo
              img(src="./img/logos/logo.svg", alt="")
          .nav__search 
            form(action="/my-handling-form-page", method="get", placeholder="Your name..")
              input(type="text", id="search", name="search", placeholder="Search")
          ul.nav__icons
              li.nav__icons-item
              a(href="#") 
                img(src="./img/icons/square.svg", alt="square.svg")
              li.nav__icons-item
              a(href="#") 
                img(src="./img/icons/statistic.svg", alt="statistic.svg")
              li.nav__icons-item.active
              a(href="#") 
                img(src="./img/icons/notifications.svg", alt="notifications.svg")
          .nav__profile
            .nav__avatar
              img(src="./img/avatars/avatar.png", alt="photo")
            .nav__profile-btn
              button
                img(src="./img/icons/arrow.svg", alt="arrow-icon")
  //- pop-up
  .pop-up
    .pop-up__container(data-target="first")
      .pop-up__content
            .pop-up__title.h2.pop-up-close Menu
            .pop-up__body
                .pop-up-lorem Тут должно было быть содержимое блока, но увы, разработчику было лень придумывать дизайн для модального окна и верстать его, поэтому теперь тут красуется эта прекрасная и трудночитаемая надпись, да можно было пуститься в рассуждения о философии фронтенда или жизни, но философия её такова что 80% пройцентов результата приносят 20% действий
                  br
                  | P.s Да, мне было не лень это придумывать
  //- pop-up