//- include - вставка кода
//- extends - воспринимается как шаблон
extends base 
block vars
  - var siteTitle = 'CutSpace';
  - var active = '0';
include mixin

block content 
  //-НЕ ЗАБЫВАЙ ПРО ВЛОЖЕННОСТЬ
  .wrapper
    include header
    
    main.page
      include ../blocks/overview
      include ../blocks/fast
      //- pop-up
      .overview__pop-up.pop-up-style.hide
        .overview__content-pop-up
          .overview__pop-up-title.title.h2 Add product
          .overview__pop-up-body.body
              .overview__pop-up-lorem.lorem Тут должно было быть содержимое блока, но увы, разработчику было лень придумывать дизайн для модального окна и верстать его, поэтому теперь тут красуется эта прекрасная и трудночитаемая надпись, да можно было пуститься в рассуждения о философии фронтенда или жизни, но философия её такова что 80% пройцентов результата приносят 20% действий
                br
                | P.s Да, мне было не лень это придумывать 
      //- pop-up
      section.expense
        .container
          .row
            .expense__body
              include ../blocks/last-transaction
              include ../blocks/top-categories
    include footer
