//- include - вставка кода
//- extends - воспринимается как шаблон
extends base 
block vars
  - var siteTitle = 'CutSpace';
  - var active = '0';
include mixin

block content 
  //-НЕ ЗАБЫВАЙ ПРО ВЛОЖЕННОСТЬ
  .wrapper
    include header
    
    main.page
      include ../blocks/overview
      include ../blocks/fast
      section.expense
        .container
          .row
            .expense__body
              include ../blocks/last-transaction
              include ../blocks/top-categories
    include footer
