//Шрифт по умолчанию
$fontFamily: "Inter";

//PAGE COLORS

$colorBasic: #0f0f13;
$colorHover: #2c2c35;
$colorBtn: #1e1e24;
$colorBorder: #1e1e24;

$colorText: #f5f5ff;
$colorGrayText: #d0d0da;
$colorHardGrayText: #5b5b65;

$colorBlack: #000000;

$colorFooter: #515151;

// ACCENTS COLORS

$seaGreen: #15ffab; // Для повышения акций
$alizarinRed: #15ffab; // Для понижения акций
$azure: #0062ff;
$springGreen: #62f783;
$amethyst: #a162f7;
$mangoTango: #ff8743;
$zincYellow: #fff736;
$magenta: #e80fe9;
$strawberryRed: #db3031;
$darkAmber: #fe7e07;
$frostySkies: #06d7f6;
$crayolaWildStrawberries: #ff5caa;
$verdepom: #24ca49;
$shinOrange: #ffb443;
$thistle: #c2b7cd;
$spunkyRedOrange: #ff7a2f;
$moderateAquamarine: #3dd598;

//Прочее переменные
//$maxWidth: 1111;
$maxWidthContainer: 1152 + 20;
//Это брейкпоинты
$md1: $maxWidthContainer + 10;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
