//Шрифт по умолчанию
$fontFamily: "Inter";

//PAGE COLORS

$colorBasic: #0f0f13;
$colorHover: #2c2c35;
$colorBtn: #1e1e24;
$colorBorder: #1e1e24;

$colorText: #f5f5ff;
$colorGrayText: #d0d0da;
$colorHardGrayText: #5b5b65;

$colorBlack: #000000;

$colorFooter: #515151;

// ACCENTS COLORS

$colorSeaGreen: #15ffab; // Для повышения акций
$colorAlizarinRed: #fd4438; // Для понижения акций
$colorAzure: #0062ff;
$colorSpringGreen: #62f783;
$colorAmethyst: #a162f7;
$colorMangoTango: #ff8743;
$colorZincYellow: #fff736;
$colorMagenta: #e80fe9;
$colorStrawberryRed: #db3031;
$colorDarkAmber: #fe7e07;
$colorFrostySkies: #06d7f6;
$colorCrayolaWildStrawberries: #ff5caa;
$colorVerdepom: #24ca49;
$colorShinOrange: #ffb443;
$colorThistle: #c2b7cd;
$colorSpunkyRedOrange: #ff7a2f;
$colorModerateAquamarine: #3dd598;

//Прочее переменные
//$maxWidth: 1111;
$maxWidthContainer: 1152 + 30 + px;
//Это брейкпоинты
$md1: $maxWidthContainer + 10;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
