//Подключаем нулевой стиль
@import "nullstyle";
//Подключаем шщрифты
//&display=swap &subnet=cyrillc-ext
@import "fonts";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");
//Иконочный шрифт или спрайт
// @import "icons";
// Импортируем переменные
@import "vars";
//------------------------------------------------------------------------------
html,
body {
  font-size: 14px;
  height: 100%;
  line-height: calc(16 / 14) * 100%;
  color: $colorText;
  font-family: $fontFamily;
  background-color: $colorBlack;
}
a {
  // Я наконец-то понял как пишется эта команда
  color: inherit;
  &:hover {
    color: $colorBasic;
  }
}
button {
  display: block;
  background: transparent;
}
//ОСНОВНАЯ СЕТКА-----------------------------------------------------------------
.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.page {
  flex: 1 1 auto;
  align-items: center;
  @media (max-width: $md1+px) {
  }
  @media (max-width: $md3+px) {
  }
}
//ОСНОВНАЯ СЕТКА-----------------------------------------------------------------
.active {
}
.h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 150%;
}
.h2 {
  font-weight: 800;
  font-size: 32px;
  line-height: 121%;
}
.h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 124%;
}
.h4 {
  font-weight: 600;
  font-size: 28px;
  line-height: 121%;
}
.h5 {
  font-weight: bold;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0.113382px;
}
.h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 90%;
}
.h7 {
  font-weight: bold;
  font-size: 18px;
  line-height: 122%;
}
.text {
  font-weight: normal;
  font-size: 14px;
  line-height: 114%;
}
.textBold {
  font-weight: 600;
  font-size: 14px;
  line-height: 114%;
}
.subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.009em;
}
.subtutleSemiBold {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
}
.buttonLabel {
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.009em;
}
.miniButtonLabel {
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.009em;
}
.description {
  font-weight: normal;
  font-size: 12px;
  line-height: 133%;
}
.miniDescription {
  font-weight: normal;
  font-size: 9px;
  line-height: 122%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
.btn {
}

//Импортируем постоянные классы--------------------------------------------------
@import "mixin";
@import "ui";
@import "header";
@import "footer";
//Импортируем классы этого проекта-----------------------------------------------
// @import "../blocks/";
