section.last-transaction.swiper
    .last-transaction__header
        .last-transaction__title.h4 Last transaction
        .last-transaction__btns
            img(src="./img/icons/arrow-left.svg", alt="btn-prev").last-transaction__btn.btn-prev
            img(src="./img/icons/arrow-right.svg", alt="btn-next").last-transaction__btn.btn-next
    ul.last-transaction__table.swiper-wrapper
        //- ТУТ БУДУТ ПОСЛЕДНИЕ ТРАНЗАКЦИИ