section.last-transaction.swiper-container
    .last-transaction__header 
        .last-transaction__title.h4 Last transaction
        .last-transaction__btns
            img(src="../img/icons/arrow-left.svg", alt="btn-prev").last-transaction__btn.btn-prev
            img(src="../img/icons/arrow-right.svg", alt="btn-next").last-transaction__btn.btn-next
    .swiper-wrapper
        ul.last-transaction__table.swiper-slide
            li.last-transaction__stroke
                .last-transaction__category
                    img(src="../img/categories-icons/gamepad.svg", alt="gamepad").last-transaction__img
                    .last-transaction__info
                        .last-transaction__store.miniButtonLabel Apple store
                        .last-transaction__date.description 05.01.2020
                .last-transaction__cards-pay
                    img(src="../img/cards/visa-card-red.svg", alt="card").last-transaction__img.-red
                    .last-transaction__cards-info
                        .last-transaction__number.description *4300
                        .last-transaction__card-type.description Credit card
                .last-transaction__transactions-balance.h7 - $135,00
            li.last-transaction__stroke
                .last-transaction__category
                    img(src="../img/categories-icons/сoffee.svg", alt="сoffee").last-transaction__img
                    .last-transaction__info
                        .last-transaction__store.miniButtonLabel Starbucks Cafe
                        .last-transaction__date.description 04.01.2020
                .last-transaction__cards-pay
                    img(src="../img/cards/visa-card-blue.svg", alt="card").last-transaction__img.-blue
                    .last-transaction__cards-info
                        .last-transaction__number.description *6589
                        .last-transaction__card-type.description Credit card
                .last-transaction__transactions-balance.h7 - $16,50
            li.last-transaction__stroke
                .last-transaction__category
                    img(src="../img/categories-icons/pharmacy.svg", alt="pharmacy").last-transaction__img
                    .last-transaction__info
                        .last-transaction__store.miniButtonLabel Pharmacy
                        .last-transaction__date.description 04.01.2020
                .last-transaction__cards-pay
                    img(src="../img/cards/mastercard-card.svg", alt="card").last-transaction__img
                    .last-transaction__cards-info
                        .last-transaction__number.description *9054
                        .last-transaction__card-type.description Credit card
                .last-transaction__transactions-balance.h7 - $58,00
            li.last-transaction__stroke
                .last-transaction__category
                    img(src="../img/categories-icons/food.svg", alt="food").last-transaction__img
                    .last-transaction__info
                        .last-transaction__store.miniButtonLabel Spar
                        .last-transaction__date.description 03.01.2020
                .last-transaction__cards-pay
                    img(src="../img/cards/visa-card-gray.svg", alt="card").last-transaction__img
                    .last-transaction__cards-info
                        .last-transaction__number.description *3288
                        .last-transaction__card-type.description Credit card
                .last-transaction__transactions-balance.h7 - $18,00
        ul.last-transaction__table.swiper-slide
            li.last-transaction__stroke
                .last-transaction__category
                    img(src="../img/categories-icons/сoffee.svg", alt="сoffee").last-transaction__img
                    .last-transaction__info
                        .last-transaction__store.miniButtonLabel Starbucks Cafe
                        .last-transaction__date.description 04.01.2020
                .last-transaction__cards-pay
                    img(src="../img/cards/visa-card-blue.svg", alt="card").last-transaction__img.-blue
                    .last-transaction__cards-info
                        .last-transaction__number.description *6589
                        .last-transaction__card-type.description Credit card
                .last-transaction__transactions-balance.h7 - $16,50
            li.last-transaction__stroke
                .last-transaction__category
                    img(src="../img/categories-icons/pharmacy.svg", alt="pharmacy").last-transaction__img
                    .last-transaction__info
                        .last-transaction__store.miniButtonLabel Pharmacy
                        .last-transaction__date.description 04.01.2020
                .last-transaction__cards-pay
                    img(src="../img/cards/mastercard-card.svg", alt="card").last-transaction__img
                    .last-transaction__cards-info
                        .last-transaction__number.description *9054
                        .last-transaction__card-type.description Credit card
                .last-transaction__transactions-balance.h7 - $58,00
            li.last-transaction__stroke
                .last-transaction__category
                    img(src="../img/categories-icons/gamepad.svg", alt="gamepad").last-transaction__img
                    .last-transaction__info
                        .last-transaction__store.miniButtonLabel Apple store
                        .last-transaction__date.description 05.01.2020
                .last-transaction__cards-pay
                    img(src="../img/cards/visa-card-red.svg", alt="card").last-transaction__img.-red
                    .last-transaction__cards-info
                        .last-transaction__number.description *4300
                        .last-transaction__card-type.description Credit card
                .last-transaction__transactions-balance.h7 - $135,00
            li.last-transaction__stroke
                .last-transaction__category
                    img(src="../img/categories-icons/food.svg", alt="food").last-transaction__img
                    .last-transaction__info
                        .last-transaction__store.miniButtonLabel Spar
                        .last-transaction__date.description 03.01.2020
                .last-transaction__cards-pay
                    img(src="../img/cards/visa-card-gray.svg", alt="card").last-transaction__img
                    .last-transaction__cards-info
                        .last-transaction__number.description *3288
                        .last-transaction__card-type.description Credit card
                .last-transaction__transactions-balance.h7 - $18,00
        ul.last-transaction__table.swiper-slide
            li.last-transaction__stroke
                .last-transaction__category
                    img(src="../img/categories-icons/pharmacy.svg", alt="pharmacy").last-transaction__img
                    .last-transaction__info
                        .last-transaction__store.miniButtonLabel Pharmacy
                        .last-transaction__date.description 04.01.2020
                .last-transaction__cards-pay
                    img(src="../img/cards/mastercard-card.svg", alt="card").last-transaction__img
                    .last-transaction__cards-info
                        .last-transaction__number.description *9054
                        .last-transaction__card-type.description Credit card
                .last-transaction__transactions-balance.h7 - $58,00
            li.last-transaction__stroke
                .last-transaction__category
                    img(src="../img/categories-icons/food.svg", alt="food").last-transaction__img
                    .last-transaction__info
                        .last-transaction__store.miniButtonLabel Spar
                        .last-transaction__date.description 03.01.2020
                .last-transaction__cards-pay
                    img(src="../img/cards/visa-card-gray.svg", alt="card").last-transaction__img
                    .last-transaction__cards-info
                        .last-transaction__number.description *3288
                        .last-transaction__card-type.description Credit card
                .last-transaction__transactions-balance.h7 - $22,00
            li.last-transaction__stroke
                .last-transaction__category
                    img(src="../img/categories-icons/сoffee.svg", alt="сoffee").last-transaction__img
                    .last-transaction__info
                        .last-transaction__store.miniButtonLabel Goodman Cafe
                        .last-transaction__date.description 04.01.2020
                .last-transaction__cards-pay
                    img(src="../img/cards/visa-card-blue.svg", alt="card").last-transaction__img.-blue
                    .last-transaction__cards-info
                        .last-transaction__number.description *6589
                        .last-transaction__card-type.description Credit card
                .last-transaction__transactions-balance.h7 - $16,50
            li.last-transaction__stroke
                .last-transaction__category
                    img(src="../img/categories-icons/gamepad.svg", alt="gamepad").last-transaction__img
                    .last-transaction__info
                        .last-transaction__store.miniButtonLabel Apple store
                        .last-transaction__date.description 05.01.2020
                .last-transaction__cards-pay
                    img(src="../img/cards/visa-card-red.svg", alt="card").last-transaction__img.-red
                    .last-transaction__cards-info
                        .last-transaction__number.description *4300
                        .last-transaction__card-type.description Credit card
                .last-transaction__transactions-balance.h7 - $135,00