section.overview
    .container
        .row
            .overview__header
                .overview__title
                    h1.overview__h1.h1 Overview
                    button.overview__btn-alt.btn-alt(data-path="first", data-animation='fadInUP', data-speed='700')
                        img(src="../img/icons/plus.svg", alt="plus")
                        .overview__.buttonLabel Add product
                .overview__filters
                    button.overview__select.btn 
                        .overview__label.buttonLabel Popular
                    button.overview__filters
                        img(src="../img/icons/filter.svg", alt="filter")
            .overview__cards
                section.card.swiper-container
                    .swiper-wrapper
                    //- ТУТ БУДУТ КАРТОЧКИ
            .overview__transactions
                //- ТУТ БУДУТ КАРТОЧКИ С ИНФОЙ