section.top-categories
    .top-categories__header 
        .top-categories__title.h4 Top categories
        .top-categories__btns
                .top-categories__btn.btn-prev
                    img(src="../img/icons/arrow-left.svg", alt="btn-prev")
                .top-categories__btn.btn-next
                    img(src="../img/icons/arrow-right.svg", alt="btn-next")
    .top-cards
        .top-cards__item.spend-this-week
            .top-cards__title.text Spend this week
            .top-cards__profit.h6 $540
            .top-cards__percent.textBold.minus ↓2.5%
            //- .top-cards__content
            //-     img(src="../img/test-no-front/chart.svg", alt="top-card-content")
        .top-cards__item.total-cashback
            .top-cards__title.text Total cashback
            .top-cards__profit.h6 $1,531
            .top-cards__percent.textBold.plus +5.4%
            //- .top-cards__content
            //-     img(src="../img/test-no-front/progress_bar.svg", alt="top-card-content")
        .top-cards__item.spending-trend
            .top-cards__title.text Spending trend
            .top-cards__profit.h6 87%
            .top-cards__percent.textBold.plus +4.5%
            //- .top-cards__content
            //-     img(src="../img/test-no-front/stonks.svg", alt="top-card-content")