.card {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0 0 2px 0;
    margin: 0 0 36px 0;
    position: relative;
    z-index: 1;

    // .card__body
    &__body {
        min-height: 220px;
        width: 19vw;
        min-width: 322px;
        background-repeat: no-repeat;
        padding: 24px 24px 15px 24px;
        background-image: url("");
        position: relative;
        border-radius: 20px;
        background-size: cover;
        box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.25);
        &.orange {
            background-image: url("../img/cards/card-1.svg");
            filter: drop-shadow(0px 2px 0px #ff9901);
            // box-shadow: 0px 100px 80px rgba(255, 149, 51, 0.07), 0px 41.7776px 33.4221px rgba(255, 149, 51, 0.0503198),
            //     0px 22.3363px 17.869px rgba(255, 149, 51, 0.0417275), 0px 12.5216px 10.0172px rgba(255, 149, 51, 0.035),
            //     0px 6.6501px 5.32008px rgba(255, 149, 51, 0.0282725),
            //     0px 2.76726px 2.21381px rgba(255, 149, 51, 0.0196802);
        }
        &.gray {
            background-image: url("../img/cards/card-2.svg");
            filter: drop-shadow(0px 2px 0px #2e2e39);
        }
        &.red {
            filter: drop-shadow(0px 2px 0px #ff1313);
            background-image: url("../img/cards/card-3.svg");
            // box-shadow: 0px 100px 80px rgba(255, 51, 186, 0.07), 0px 41.7776px 33.4221px rgba(255, 51, 186, 0.0503198),
            //     0px 22.3363px 17.869px rgba(255, 51, 186, 0.0417275), 0px 12.5216px 10.0172px rgba(255, 51, 186, 0.035),
            //     0px 6.6501px 5.32008px rgba(255, 51, 186, 0.0282725),
            //     0px 2.76726px 2.21381px rgba(255, 51, 186, 0.0196802);
        }
        &.bigSur {
            filter: drop-shadow(0px 2px 0px #fd025a);
            background-image: url("../img/cards/card-4.jpeg");
        }
        &.manteray {
            filter: drop-shadow(0px 2px 0px #311eda);
            background-image: url("../img/cards/card-5.jpg");
        }
    }

    // .card__currency
    &__currency {
        display: flex;
        justify-content: space-between;
        margin: 0 0 28px 0;
    }

    // .card__balance
    &__balance {
        margin: 0 0 30px 0;
    }

    // .card__info
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .card__card-holder
    &__card-holder {
        font-size: 9px;
        line-height: 11px;
        text-transform: uppercase;

        span {
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;

            margin: 0 0 0 10px;
        }
    }

    // .card__fin-logo
    &__fin-logo {
    }
}
