.top-categories {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    // .top-categories__header
    &__header {
        display: flex;
        flex: 1 1;
        justify-content: space-between;
        margin: 0 0 18px 0;
    }
    // .top-categories__title
    &__title {
    } // .last-transaction__btns
    &__btns {
        display: flex;
        gap: 8px;
    }
    // .top-categories__btn
    &__btn {
        display: inline-block;
        cursor: pointer;
        &-prev {
        }
        &-next {
        }
    }
}

.top-cards {
    display: flex;
    // .top-cards__item
    &__item {
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: #070707;
        border-radius: 12px;
        width: 11.45vw;
        min-height: 220px;
        height: 100%;
        width: 100%;
        padding: 24px 20px;
    }
    &__text {
        display: flex;
        flex-direction: column;
        flex: 1 1;
    }
    // .top-cards__content
    &__content {
        img {
            width: 100%;
        }
    }

    // .top-cards__title
    &__title {
        margin: 0 0 14px 0;
    }

    // .top-cards__profit
    &__profit {
        margin: 0 0 9px 0;
    }

    // .top-cards__percent
    &__percent {
    }

    .spending-trend {
        background-image: url("../img/test-no-front/stonks.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 100%;
    }
}
